body {
  background-color: antiquewhite;
}

.container {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
  font-size: 25px;
  color: rgb(6, 6, 94);
  padding-top: 10px;
}

nav {
  background-color: blueviolet;
  display: flex;
  justify-content: space-around;
}

.link {
  color: white;
  font-size: 30px;
  text-shadow: 0px 0px 3px black;
  text-decoration: none;


}
input {
  padding: 10px;

}
button {
  background-color: blueviolet;
  color: white;
}

.crossed {
  text-decoration: line-through 1px red;
}

.btn {
  padding: 10px;
}

h1, h2 {
  color: rgb(6, 6, 94);
}
h3 {
  font-size: 40px;
}
.back {
  background-color: rgb(158, 71, 240, 0.7);
}
.cont {
  padding: 20px;
}